*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    height: 100vh;
   
}

.containeruno {
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background:grey;
}

nav {
    
    display: flex;
    flex-direction: row-reverse;

}

.logouno {
    height: 2rem;
    width: 2rem;
    display: flex;
    flex-direction: row-reverse;
    background: grey;
    margin: 8px;
    align-items: center;
    justify-content: center;

    
}

header {
    width: 145rem;
    height: 0px;
    display: flex;
    justify-content: center;

}

.rettangolo {
    height: 2rem;
    width: 10rem;
    display: flex;
    margin-left: 50px;
    margin-top: 50px;
    background: rgb(119, 119, 255);
}

.containerdue {
    display: flex;
    flex-direction: row-reverse;
    height: 4rem;
    width: 142vh;
    background: rgb(208, 208, 208);
    justify-content: flex-start;
}

.navbar{
    height: 1rem;
    background: grey;
}
.containertre {
display: flex;
flex-direction: row;
margin: 50px;


}

.rettangolorosa {
    width: 1000px;
    height: 400px;
    background: pink;
}

